[Unit]
Description=Hawkeye NGINX App Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/hawkeye
Environment=FLASK_CONFIG=production
Environment=FLASK_APP=app.py
ExecStart=/usr/bin/env python3.6 -m flask run --host=0.0.0.0

[Install]
WantedBy=multi-user.target